@import 'tailwindcss';

@theme {
  --breakpoint-xs: 33.75rem;
}

@theme inline {
  --font-outfit: var(--font-outfit);
}

:root {
  --dark-blue: #10141e;
  --semi-dark-blue: #161d2f;
  --greysh-blue: #5a698f;
  --white: #fff;
  --red: #fc4747;
}

body {
  font-family: var(--font-outfit);
  background-color: var(--dark-blue);
}
